* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: rgba(73, 155, 234, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(73, 155, 234, 1)),
    color-stop(100%, rgba(32, 124, 229, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(73, 155, 234, 1) 0%,
    rgba(32, 124, 229, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
  height: 90vh;
  box-shadow: 0 4px 4px 2px rgb(173, 167, 167);
}

/* REUSABLE COMPONENTS */

section {
    padding: 100px 30px;
}

.section-box {
  text-align: center;
}

.section-box h3,
.section-box p {
  text-align: left;
}

.section-box img {
  width: 12rem;
  padding-bottom: 60px;
}

.section-box p {
  line-height: 150%;
  color: #566061;
  font-size: 0.9rem;
}

.section-box h3 {
  font-weight: normal;
  font-size: 1.6rem;
  padding-bottom: 20px;
  line-height: 150%;
}

.gray {
  background-color: #dfe6e9;
}

/* NAVIGATION */

.logo {
  font-size: 1.4rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(73, 155, 234, 1);
  overflow: auto;
}

.navigation h1 {
  font-weight: normal;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.main-nav {
  display: flex;
  list-style: none;
  align-content: center;
  align-items: center;
}

.main-nav li {
  margin-left: 30px;
}

.main-nav a {
  font-size: 1.2rem;
  color: #dfe6e9;
  transition: all 1s;

}

.main-nav a:hover {
    color: #fff;
}

/* HEADER CONTENT */

.header-content {
  text-align: center;
  padding-top: 50px;
}

.intro-header {
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
  width: 90%;
  margin: 60px auto 40px auto;
  line-height: 150%;
}

.intro {
    width: 85%;
    text-align: left;
    margin: auto;
    line-height: 170%;
    color: #fff;
    padding-bottom: 50px;
}

.btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 13px 25px;
    border-radius: 300px;
}

.btn-green {
    background-color: #2ecc71;
    border-color: #2ecc71;
    margin-right: 20px;
}


/* SECTION WHO CAN USE */

.use-content {
    text-align: center;
}

.use-intro {
    font-weight: normal;
    font-size: 1.6rem;
    padding-bottom: 30px;
}

.after-intro-text {
    color: #566061;
    width: 100%;
    font-size: 1rem;
    padding-bottom: 70px;
}

.box {
    padding-bottom: 100px;
}

.use-img {
    width: 10rem;
    padding-bottom: 40px;
}

.img-name {
    color: #000;
    font-size: 1rem;
    letter-spacing: 1px;
    font-size: 1.05rem;
    padding-bottom: 20px;
}

.img-description { 
    color: #566061;
    line-height: 150%;
    text-align: left;
}


/* GET STARTED */

.get-started {
  text-align: center;
  background-color: rgba(73, 155, 234, 1);
  color: #fff;
  padding-bottom: 80px;
}

.get-started p {
  padding-bottom: 50px;
}

.get-started h3 {
  font-weight: normal;
  font-size: 1.6rem;
  padding-bottom: 30px;
}

.get-started p {
  font-size: 0.9rem;
  color: #dfe6e9;
}

.last-button {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #fff;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 300px;
}


/* FOOTER */

footer {
  background-color: #333c44;
  color: #fff;
  padding: 50px 30px;
}

footer a {
  text-decoration: none;
  color: #b9bdbd;
  border-bottom: 1px dotted #fff;
  font-size: 0.9rem;
  padding-bottom: 1px;
}

footer h4 {
  padding-bottom: 30px;
}
footer p {
  padding-bottom: 20px;
}

footer p a {
  cursor: pointer;
  transition: all 1s;
}


/* MEDIA QUERIES */

@media screen and (min-width: 320px) {

    /* HEADER */

  .btn-green {
    margin-right: 5px;
  }

  .intro-header {
    margin-top: 50px;
    font-size: 1.6rem;
  }
}


@media screen and (min-width: 360px) {

    /* HEADER */

  .intro-header {
    margin-top: 0;
    padding-top: 50px;
    font-size: 1.8rem;
  }

  .intro {
    text-align: justify;
    word-break: break-all;
  }
}



@media screen and (min-width: 375px){

    /* HEADER */

  .intro-header {
    margin-top: 50px;
  }
}



@media screen and (min-width: 411px) {

    /* HEADER */

    .intro-header {
      margin: auto;
      padding-top: 100px;
      padding-bottom: 50px;
    }
}


@media screen and (min-width: 768px) {

    /* HEADER */

    .header-content {
      padding: 50px;
    }

    .intro-header {
      width: 100%;
      padding-top: 100px;
    }

    .intro {
      width: 75%;
      margin: auto;
    }

    .btn {
      text-align: center;
    }

    /* SECTION USE */

    .img-description {
      text-align: center;
    }
}

@media screen and (min-width: 1024px) {

    /* HEADER */

  .intro-header {
    padding-top: 50px;
  }
}


@media screen and (min-width: 1366px) {

    /* NAVIGATION */

  .navigation {
    padding-left: 90px;
    padding-right: 90px;
  }

    /* HEADER */
  
  .header-content {
    padding: 0;
  }
  
  .intro-header {
    padding-top: 170px;
  }

  .intro {
    width: 44%;
    text-align: left;
    margin: auto;
    line-height: 150%;
    color: #fff;
}

  .btn-green {
    margin-right: 20px;
  }

    /* SECTION USE */

  .use-content {
    text-align: left;
}

  .img-description {
    width: 90%;
    margin: auto;
    text-align: left;
  }

  .section-use {
    padding: 100px 0;
  }

  .use-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  .box {
    width: 30%;
    text-align: center;
  }

  .use-intro {
    text-align: center;
  }

  .after-intro-text {
    text-align: center;
  }

  .use-img {
    height: 150px;
  }

    /* SECTION NATURAL STYLING */

  .natural {
    display: grid;
    grid-template-columns: 1fr 500px;
    padding: 0 140px;

  }

  .natural img {
    justify-self: center;
    width: 17rem;
  }

  .natural-text {
    padding-top: 30px;
  }

  .natural-text p {
    font-size: 1rem;
  }


    /* SECTION FRAMEWORK */


  .framework {
    display: grid;
    padding: 0 140px;
    grid-template-columns: 500px 1fr;
  }

  .framework img {
    width: 17rem;
    justify-self: center;
    grid-column: 2/3;

  }

  .framework-text {
    padding-top: 30px;
    grid-row: 1/2;
  }


    /* SECTION PRODUCTION */

  .test-production {
    display: grid;
    grid-template-columns: 1fr 500px;
    padding: 0 140px;
  }

  .test-production img {
    justify-self: center;
    width: 17rem;
  }


  .production-text {
    padding-top: 50px;
  }

  .production-text p {
    font-size: 1rem;
  }


    /* FOOTER */


  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 150px;
    justify-content: center;
    grid-gap: 20px;
    font-size: 0.9rem;
  }

  footer p a:hover {
    color: #fff;;
  }

  .creation {
    justify-self: center;
  }

  .icons {
    justify-self: end;
  }
}